{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<div>#}
{#    <a href="/stream/?ink=https://www.youtube.com/watch?v=sBVb4IB3O_U"> some thing</a>#}
{##}
{#</div>#}
{##}
{#<div>#}
{#    {% for stream in streams %}#}
{#        <li><p>{{ stream }}</p></li>#}
{##}
{#    {% endfor %}}#}
{##}
{##}
{#</div>#}
{##}
{#<div>#}
{#    <h1>WebSocket Chat</h1>#}
{#    <form action="" onsubmit="sendMessage(event)">#}
{#        <input type="text" id="messageText" autocomplete="off"/>#}
{#        <button>Send</button>#}
{#    </form>#}
{#    <ul id='messages'>#}
{#    </ul>#}
{#</div>#}
{#<script>#}
{#    var ws = new WebSocket("ws://localhost:8000/downloading");#}
{#    ws.onmessage = function (event) {#}
{#        var messages = document.getElementById('messages')#}
{#        var message = document.createElement('li')#}
{#        var content = document.createTextNode(event.data)#}
{#        message.appendChild(content)#}
{#        messages.appendChild(message)#}
{#    };#}
{##}
{#    function sendMessage(event) {#}
{#        var input = document.getElementById("messageText")#}
{#        ws.send(input.value)#}
{#        input.value = ''#}
{#        event.preventDefault()#}
{#    }#}
{#</script>#}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            var ws = new WebSocket("ws://localhost:8000/downloading");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>