<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
{% block body %}
    <form>
        <label>
            <input id="singlelink" type="text" placeholder="video link">
            <button type="button" id="singledownload" onclick="downloadSingle()">view streams</button>
            <br>
            <input id="playlistlink" type="text" placeholder="playlist link">
            <button type="button" id="playlistdownload" onclick="downloadPlaylist()">view streams</button>
        </label>

    </form>





    <script>
        function downloadSingle() {
            const videoLink = document.getElementById("singlelink").value;
            const current = window.location.href;
            window.location.href = current + "singlestream/?link=" + videoLink;
        }

        function downloadPlaylist() {
            const playlistLink = document.getElementById("playlistlink").value;
            const current = window.location.href;
            window.location.href = current + "playliststream/?link=" + playlistLink;
        }

    </script>
{% endblock %}


</body>
</html>