<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
{% block body %}
    <form>
        <label>
            <input id="link" type="text">
            <button type="button" id="v_s_btn" onclick="goToStream()">view streams</button>
        </label>

    </form>


    <script>
        function goToStream() {
            const videoLink = document.getElementById("link").value;
            const current = window.location.href;
            window.location.href = current + "streams/?link=" + videoLink;
        }
    </script>
{% endblock %}


</body>
</html>